* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden; /* prevent scrollbars from the video */
}

/* Video background styling */
.background-video {
    background-color: black;
    position: fixed;
    top: -12.5%;
    left: -12.5%;
    width: 125%;
    height: 125%;
    z-index: -1;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #ffdf2a;
    text-shadow: 0 0 10px rgba(255, 233, 106, 0.8);
}

p {
    max-width: 600px;
    font-size: 1.2em;
    margin: 20px 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background: rgba(110, 204, 255, 0.1);
    border: 1px solid #51c2ff;
    color: #51c2ff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: background 0.3s;
}

.btn:hover {
    background: rgba(115, 205, 255, 0.25);
}